<a href="https://colab.research.google.com/github/LeTienNhan20104048/LeTienNhan20104048/blob/main/Tuan_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
with open('text.txt', mode='w') as accounts:
  accounts.write('1 Nguyen Van A 8.0\n')
  accounts.write('2 Le Thi B 6.8\n')

In [33]:
with open('text1.txt', mode='w') as accounts:
  print('7:00 Nguyen Van A', file= accounts)
  print('7:01 Le Thi B', file= accounts)

In [ ]:
with open ('text.txt', mode = 'r') as accounts:
  print(f'{"number":<10}{"name":<10}{"score":>10}')
  for record in accounts:
    number, name, score = record.split()
    print(f'{name:<10}{score:>10}')

In [50]:
import pandas as pd
url='/csv.csv'
dataframe = pd.read_csv(url)
dataframe.head(10)

   STT      MSSV      Ho va ten  Diem Khoa
0    1  20104001   Nguyen Van F     5  CKM
1    2  20104002       Le Thi B     4  FHQ
2    3  20104003     Tran Van C     3  FHQ
3    4  20104004    Huynh Thi D     5  FHQ
4    5  20104005   Truong Tan E     7  FHQ
5    6  20104006       Le Tan H     8  CKM
6    7  20104007    Nguyen Le G     6  CKM
7    8  20104008     Tran Thi K     2  FHQ
8    9  20104009  Nguyen Hong K     4  CKM
9   10  20104010     Pham Thi S    10  FHQ

In [51]:
import pandas as pd
dataframe=pd.DataFrame ()
dataframe['Name']=['Nguyen Van A','Le Thi B']
dataframe['Student.ID']=[20104011,20104067]
dataframe['score']=[8.0,9.0]
dataframe

           Name  Student.ID  score
0  Nguyen Van A    20104011    8.0
1      Le Thi B    20104067    9.0

In [52]:
import pandas as pd
url='/csv.csv'
dataframe= pd.read_csv(url)
dataframe[:4]

   STT      MSSV     Ho va ten  Diem Khoa
0    1  20104001  Nguyen Van F     5  CKM
1    2  20104002      Le Thi B     4  FHQ
2    3  20104003    Tran Van C     3  FHQ
3    4  20104004   Huynh Thi D     5  FHQ

In [53]:
import pandas as pd
url='/csv.csv'
dataframe= pd.read_csv(url)
dataframe=dataframe.set_index(dataframe['Ho va ten'])
dataframe.loc['Nguyen Van F']

STT                     1
MSSV             20104001
Ho va ten    Nguyen Van F
Diem                    5
Khoa                  CKM
Name: Nguyen Van F, dtype: object

In [55]:
import pandas as pd
url='/csv.csv'
dataframe= pd.read_csv(url)
dataframe[(dataframe['Khoa'] =='CKM')].head(4)

   STT      MSSV      Ho va ten  Diem Khoa
0    1  20104001   Nguyen Van F     5  CKM
5    6  20104006       Le Tan H     8  CKM
6    7  20104007    Nguyen Le G     6  CKM
8    9  20104009  Nguyen Hong K     4  CKM

In [56]:
import pandas as pd
url='/csv.csv'
dataframe= pd.read_csv(url)
dataframe[(dataframe['Khoa']=='FHQ') & (dataframe['Diem']>=2)]

   STT      MSSV     Ho va ten  Diem Khoa
1    2  20104002      Le Thi B     4  FHQ
2    3  20104003    Tran Van C     3  FHQ
3    4  20104004   Huynh Thi D     5  FHQ
4    5  20104005  Truong Tan E     7  FHQ
7    8  20104008    Tran Thi K     2  FHQ
9   10  20104010    Pham Thi S    10  FHQ

In [57]:
import pandas as pd
url='/csv.csv'
dataframe= pd.read_csv(url)
dataframe['Khoa'].unique()

array(['CKM', 'FHQ'], dtype=object)

In [59]:
import pandas as pd
url='/csv.csv'
dataframe= pd.read_csv(url)
dataframe['Khoa'].value_counts()

FHQ    6
CKM    4
Name: Khoa, dtype: int64

In [ ]:
value.counts

In [60]:
import pandas as pd
url='/csv.csv'
dataframe= pd.read_csv(url)
dataframe.drop('Khoa', axis=1).head(10)

   STT      MSSV      Ho va ten  Diem
0    1  20104001   Nguyen Van F     5
1    2  20104002       Le Thi B     4
2    3  20104003     Tran Van C     3
3    4  20104004    Huynh Thi D     5
4    5  20104005   Truong Tan E     7
5    6  20104006       Le Tan H     8
6    7  20104007    Nguyen Le G     6
7    8  20104008     Tran Thi K     2
8    9  20104009  Nguyen Hong K     4
9   10  20104010     Pham Thi S    10

In [66]:
import pandas as pd
url='/csv.csv'
dataframe= pd.read_csv(url)
dataframe.groupby('Khoa').mean()

           STT          MSSV      Diem
Khoa
CKM   5.750000  2.010401e+07  5.750000
FHQ   5.333333  2.010401e+07  5.166667

In [67]:
import pandas as pd
url='/csv.csv'
dataframe= pd.read_csv(url)
dataframe.groupby('Khoa').count()

      STT  MSSV  Ho va ten  Diem
Khoa
CKM     4     4          4     4
FHQ     6     6          6     6

In [70]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [63]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [74]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data = data.set_index(data['Medal'])
data.loc['Gold']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Gold,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
Gold,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
Gold,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
Gold,1924,Chamonix,Skating,Speed skating,FIN,10000m,M,Gold
Gold,1924,Chamonix,Skating,Speed skating,FIN,1500m,M,Gold
...,...,...,...,...,...,...,...,...
Gold,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
Gold,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
Gold,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold
Gold,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
Gold,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold

In [75]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data[(data['Medal']=='Gold') & (data['Event gender']=='W') & (data['NOC']=='CAN')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
194,1948,St. Moritz,Skating,Figure skating,CAN,individual,W,Gold
399,1960,Squaw Valley,Skiing,Alpine Skiing,CAN,slalom,W,Gold
586,1968,Grenoble,Skiing,Alpine Skiing,CAN,giant slalom,W,Gold
793,1976,Innsbruck,Skiing,Alpine Skiing,CAN,giant slalom,W,Gold
1291,1992,Albertville,Skating,Short Track S.,CAN,3000m relay,W,Gold
1293,1992,Albertville,Skiing,Alpine Skiing,CAN,downhill,W,Gold
1449,1994,Lillehammer,Biathlon,Biathlon,CAN,15km,W,Gold
1450,1994,Lillehammer,Biathlon,Biathlon,CAN,7.5km,W,Gold
1644,1998,Nagano,Curling,Curling,CAN,curling,W,Gold
1650,1998,Nagano,Skating,Short Track S.,CAN,500m,W,Gold
1654,1998,Nagano,Skating,Speed skating,CAN,500m,W,Gold
1851,2002,Salt Lake City,Ice Hockey,Ice Hockey,CAN,ice hockey,W,Gold
1861,2002,Salt Lake City,Skating,Speed skating,CAN,500m,W,Gold
1862,2002,Salt Lake City,Skiing,Cross Country S,CAN,5km pursuit,W,Gold
2092,2006,Turin,Ice Hockey,Ice Hockey,CAN,ice hockey,W,Gold
2099,2006,Turin,Skating,Speed skating,CAN,1500m,W,Gold
2103,2006,Turin,Skating,Speed skating,CAN,5000m,W,Gold
2106,2006,Turin,Skiing,Cross Country S,CAN,Sprint 1.5km,W,Gold
2108,2006,Turin,Skiing,Freestyle Ski.,CAN,moguls,W,Gold

In [76]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.groupby('Year').count()

      City  Sport  Discipline  NOC  Event  Event gender  Medal
Year
1924    49     49          49   49     49            49     49
1928    41     41          41   41     41            41     41
1932    42     42          42   42     42            42     42
1936    51     51          51   51     51            51     51
1948    68     68          68   68     68            68     68
1952    67     67          67   67     67            67     67
1956    72     72          72   72     72            72     72
1960    81     81          81   81     81            81     81
1964   103    103         103  103    103           103    103
1968   106    106         106  106    106           106    106
1972   105    105         105  105    105           105    105
1976   111    111         111  111    111           111    111
1980   115    115         115  115    115           115    115
1984   117    117         117  117    117           117    117
1988   138    138         138  138    138           138    138
1992   171    171         171  171    171           171    171
1994   183    183         183  183    183           183    183
1998   205    205         205  205    205           205    205
2002   234    234         234  234    234           234    234
2006   252    252         252  252    252           252    252

In [77]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['NOC'].value_counts()

NOR    280
USA    216
URS    194
AUT    185
GER    158
FIN    151
CAN    119
SUI    118
SWE    118
GDR    110
ITA    101
FRA     83
NED     78
RUS     76
FRG     41
CHN     33
JPN     32
KOR     31
TCH     25
EUN     23
GBR     21
EUA     19
CZE     10
LIE      9
POL      8
CRO      7
BUL      6
EST      6
AUS      6
BLR      6
HUN      6
UKR      5
BEL      5
KAZ      5
YUG      4
SLO      4
ESP      2
PRK      2
LUX      2
LAT      1
ROU      1
DEN      1
UZB      1
NZL      1
SVK      1
Name: NOC, dtype: int64

In [78]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.groupby(['NOC','Medal']).count()

            Year  City  Sport  Discipline  Event  Event gender
NOC Medal
AUS Bronze     3     3      3           3      3             3
    Gold       3     3      3           3      3             3
AUT Bronze    70    70     70          70     70            70
    Gold      51    51     51          51     51            51
    Silver    64    64     64          64     64            64
...          ...   ...    ...         ...    ...           ...
USA Gold      78    78     78          78     78            78
    Silver    80    80     80          80     80            80
UZB Gold       1     1      1           1      1             1
YUG Bronze     1     1      1           1      1             1
    Silver     3     3      3           3      3             3

[112 rows x 6 columns]