<a href="https://colab.research.google.com/github/LeTienNhan20104048/LeTienNhan20104048/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
with open('text.txt', mode='w') as accounts:
  accounts.write('1 Nguyen Van A 8.0\n')
  accounts.write('2 Le Thi B 6.8\n')

In [ ]:
with open('text1.txt', mode='w') as accounts:
  print('7:00 Nguyen Van A', file= accounts)
  print('7:01 Le Thi B', file= accounts)

In [ ]:
with open('text.txt', mode='v') as accounts:
  print(f'{'name':<20}{'score':>20}')
  for record in accounts:
    name,score=record.split()
    print(f'{name:<20}{score:>20}')

In [ ]:
import pandas as pd
url='/csv.csv'
dataframe = pd.read_csv(url)
dataframe.head(5)

   STT      MSSV  Ho va ten  Diem  Khoa
0    1  20104001        NaN     1   NaN
1    2  20104002        NaN     2   NaN
2    3  20104003        NaN     3   NaN
3    4  20104004        NaN     4   NaN
4    5  20104005        NaN     5   NaN

In [ ]:
import pandas as pd
dataframe=pd.DataFrame ()
dataframe['Name']=['Nguyen Van A','Le Thi B']
dataframe['Student.ID']=[20104011,20104067]
dataframe['score']=[8.0,9.0]
dataframe

           Name  Student.ID  score
0  Nguyen Van A    20104011    8.0
1      Le Thi B    20104067    9.0

In [ ]:
import pandas as pd
url='/csv.csv'
dataframe= pd.read_csv(url)

dataframe.head(10)

dataframe[:4]

dataframe=dataframe.set_index(dataframe['Ho va ten'])
dataframe.loc['Nguyen Van A']

dataframe[(dataframe['Ho va ten'] =='Nguyen Van A')].head(4)

dataframe[(dataframe['Khoa']=='DT') & (dataframe['Diem']>=2)]

dataframe['Khoa'].unique()

dataframe['Khoa'].value_counts()

CLC    5
DT     5
Name: Khoa, dtype: int64

In [ ]:
value.counts

In [ ]:
import pandas as pd
url='/csv.csv'
dataframe= pd.read_csv(url)
dataframe.drop('Khoa', axis=1).head(10)

   STT      MSSV     Ho va ten  Diem
0    1  20104001  Nguyen Van F     5
1    2  20104002  Nguyen Van A     4
2    3  20104003  Nguyen Van C     3
3    4  20104004  Nguyen Van D     5
4    5  20104005  Nguyen Van A     7
5    6  20104006  Nguyen Van B     8
6    7  20104007  Nguyen Van A     6
7    8  20104008  Nguyen Van A     2
8    9  20104009  Nguyen Van E     4
9   10  20104010  Nguyen Van A    10

In [ ]:
import pandas as pd
url='/csv.csv'
dataframe= pd.read_csv(url)
dataframe.groupby('Khoa').mean()

dataframe.groupby('Khoa').count()

      STT  MSSV  Ho va ten  Diem
Khoa
CLC     5     5          5     5
DT      5     5          5     5

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data['NOC'].unique()

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data = data.set_index(data['Medal'])
data.loc['Gold']

data[(data['Medal']=='Gold') & (data['Event gender']=='W') & (data['NOC']=='CAN')]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
Medal,,,,,,,,
Gold,1948,St. Moritz,Skating,Figure skating,CAN,individual,W,Gold
Gold,1960,Squaw Valley,Skiing,Alpine Skiing,CAN,slalom,W,Gold
Gold,1968,Grenoble,Skiing,Alpine Skiing,CAN,giant slalom,W,Gold
Gold,1976,Innsbruck,Skiing,Alpine Skiing,CAN,giant slalom,W,Gold
Gold,1992,Albertville,Skating,Short Track S.,CAN,3000m relay,W,Gold
Gold,1992,Albertville,Skiing,Alpine Skiing,CAN,downhill,W,Gold
Gold,1994,Lillehammer,Biathlon,Biathlon,CAN,15km,W,Gold
Gold,1994,Lillehammer,Biathlon,Biathlon,CAN,7.5km,W,Gold
Gold,1998,Nagano,Curling,Curling,CAN,curling,W,Gold
Gold,1998,Nagano,Skating,Short Track S.,CAN,500m,W,Gold
Gold,1998,Nagano,Skating,Speed skating,CAN,500m,W,Gold
Gold,2002,Salt Lake City,Ice Hockey,Ice Hockey,CAN,ice hockey,W,Gold
Gold,2002,Salt Lake City,Skating,Speed skating,CAN,500m,W,Gold
Gold,2002,Salt Lake City,Skiing,Cross Country S,CAN,5km pursuit,W,Gold
Gold,2006,Turin,Ice Hockey,Ice Hockey,CAN,ice hockey,W,Gold
Gold,2006,Turin,Skating,Speed skating,CAN,1500m,W,Gold
Gold,2006,Turin,Skating,Speed skating,CAN,5000m,W,Gold
Gold,2006,Turin,Skiing,Cross Country S,CAN,Sprint 1.5km,W,Gold
Gold,2006,Turin,Skiing,Freestyle Ski.,CAN,moguls,W,Gold

In [ ]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data.groupby('Year').count()

      City  Sport  Discipline  NOC  Event  Event gender  Medal
Year
1924    49     49          49   49     49            49     49
1928    41     41          41   41     41            41     41
1932    42     42          42   42     42            42     42
1936    51     51          51   51     51            51     51
1948    68     68          68   68     68            68     68
1952    67     67          67   67     67            67     67
1956    72     72          72   72     72            72     72
1960    81     81          81   81     81            81     81
1964   103    103         103  103    103           103    103
1968   106    106         106  106    106           106    106
1972   105    105         105  105    105           105    105
1976   111    111         111  111    111           111    111
1980   115    115         115  115    115           115    115
1984   117    117         117  117    117           117    117
1988   138    138         138  138    138           138    138
1992   171    171         171  171    171           171    171
1994   183    183         183  183    183           183    183
1998   205    205         205  205    205           205    205
2002   234    234         234  234    234           234    234
2006   252    252         252  252    252           252    252